---
import PokemonList from '../components/pokemon-list/PokemonList.astro';
import type { PokemonResp } from '../interfaces/pokemon.inertface';
import MainLayout from '../layouts/MainLayout.astro';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const pokemons: PokemonResp = await resp.json();
---

<MainLayout title="Pokemons">
  <section class="wrapper">
    <h1>Pokemons List</h1>
    <a href="/pokemons/1">Watch 151 first pokemon</a>
    <PokemonList pokemos={pokemons.results} />
  </section>
</MainLayout>
